<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5659e">  <td>16/07/28 11:43:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1.runTC1()[pri:0, instance:testscripts.scenario1.TC1@73035e27]">runTC1</td> 
  <td>pool-1-thread-1@612353987</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>16/07/28 11:43:58</td>   <td>-87</td> <td title="&gt;&gt;TestCase.suiteSetup(org.testng.ITestContext)[pri:0, instance:testscripts.scenario1.TC1@73035e27]">&gt;&gt;suiteSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@984213526</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>16/07/28 11:46:09</td>   <td>130858</td> <td title="&lt;&lt;TestCase.suiteTearDown()[pri:0, instance:testscripts.scenario1.TC1@73035e27]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@984213526</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>16/07/28 11:43:58</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.testMethodSetup()[pri:0, instance:testscripts.scenario1.TC1@73035e27]">&gt;&gt;testMethodSetup</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@612353987</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>16/07/28 11:46:09</td>   <td>130823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.testMethodTearDown()[pri:0, instance:testscripts.scenario1.TC1@73035e27]">&lt;&lt;testMethodTearDown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@612353987</td>   <td></td> </tr>
</table>
